
     html{color:grey;font-size:12px;font-family:'Arial';}
     html{line-height:2em;}
     a{color:#727272;text-decoration:none;}
     a:hover{text-decoration:underline;}
    .pop{font-size:14px;color:#b9f605;text-decoration:none;font-weight:bolder;}
    .whitep{color:white;}
    .num a:hover{color:#b9f605;text-decoration:none;}
    #col{color:#fdb306;}
     